.help_fund_mlponies {
  position: relative;
  text-align: center;
  width: 468px;
  height: 90px;
  max-height: 90px;
  margin-left: auto;
  margin-right: auto;
}

.help_fund_mlponies img {
  width: 468px;
  height: 60px;
}

.about_ads {
  font-size: 10pt;
  text-align: center;
}

.help_fund_mlponies + .no_really_help_fund_mlponies {
  position: relative;
  top: -90px;
  margin-bottom: -90px;
}

.no_really_help_fund_mlponies {
  width: 467px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: -5;
  font-size: 9pt;
  height: 90px;
  max-height: 90px;
}

.buy_some_apples {
  color: red;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
}

.buy_some_apples img {
  margin-bottom: -90px;
}

.no_really_help_fund_mlponies .comment {
  width: 75%;
  margin: auto;
}